<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <table class="table">

                <% orders.forEach(function(order){ %>
                <tr>
                    <td><%= order.customer.id.name %></td>
                    <td><%= order.info %></td>
                    <td><%= order.ordered %></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>

</div>


<% include partials/footer %>
