.th-id {
    max-width: 30px;
    width: auto;
}

.modal {
    z-index: 20;
}

.modal-backdrop {
    z-index: 10;
}

.disabled {
    background-color: lightgrey;
    text-decoration: line-through;
    opacity: 0.4;
}
